@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-div {
  display: flex;
  justify-content: center;
}

.mobiledisplay {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

span {
  color: black;
}

.navlogo {
  margin-left: 50%;
}

.navlogo img {
  margin-right: 10%;
}

.menue-button {
  display: flex;
  justify-content: end;
  margin-right: 10%;
}

header {
  background-image: url(media/header-illsutration-mobile.svg);
}

header .main-text {
  margin: 0% 8% 10% 8%;
  padding: 50px 0 0 0;
  width: 327px;
  height: 211px;
}

header .main-text .main-text-blue {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
  letter-spacing: 0;
}

header .main-text .main-text-green {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 52px;
  color: #36b37e;
  text-align: center;
}

.intro-text {
  margin: 5% 8% 5% 8%;
  padding: 10px 0 0 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media img {
  margin-right: 20px;
}
